[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
tchappui-webdrivers = "*"

[packages]
django = "*"
django-crispy-forms = "*"
requests = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
